/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  background-color: #ffffff;
  color: #090909;
  padding: 10px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 24px;
}

.navigation ul {
  list-style-type: none;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: #0c0c0c;
  font-size: 16px;
  transition: color 0.3s;
}

.navigation ul li a:hover {
  color: #002da0;
}

/* Main content styles */
.main-content {
  padding: 20px;
}

/* Hero section styles */
.hero {
  background-image: url('./images/remax-house.jpeg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #cf0606;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #003d80;
}

/* About section styles */
.about {
  background-color: #fff;
  color: #333;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.about h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image img {
  max-width: 100%;
  height: auto;
}

.about-info {
  flex: 1;
  margin-left: 20px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
