
* {
  margin: 0;
  padding: 0;

}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1200px;
  margin:0 auto;
  padding: 0 20px;
}

.header {
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #090909;
  padding: 20px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-right: 40px;
}


.navigation  a {
  text-decoration: none;
  color: #0c0c0c;
  font-size: 16px;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #002da0;
  font-weight: bold;
}

/* Hamburger menu styles */


.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/remax-house.jpeg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  position: relative;
}



.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #cf0606;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #003d80;
}

/* About section styles */
.about {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.about h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0,0.2); */
}

.about-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

}

.title-section {
color:#090909;
padding: 20px;
text-align: center;
}

.about-details h1 {
font-size: 36px;
margin-bottom: 10px;
}
.about-details p {
  font-size: 16px;

  }

.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .container-flex {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .logo {
      margin-bottom: 10px;
  }


.navigation ul {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation li {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

  
  .about{
    text-align: center;
  }
  .about-content {
    grid-template-columns: 1fr; 
    max-width: 400px;
    margin: 0 auto;
  }
    .about-image img {
      width: 100%; /* Make the image full width on smaller screens */
  }
   
}


  








